<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="schoolApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
    <userSettings>
        <schoolApp.My.MySettings>
            <setting name="localServerLocation" serializeAs="String">
                <value>D:/OrganizeIT</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="explicitDate" serializeAs="String">
                <value>LOL</value>
            </setting>
            <setting name="buildDate" serializeAs="String">
                <value>17/12/2017</value>
            </setting>
        </schoolApp.My.MySettings>
    </userSettings>
</configuration>
